.toolbar {
  box-sizing: border-box;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #703b09;
  z-index: 90;
}

.toolbar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .desktopOnly {
    display: none;
  }
}
