.button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  color: white;
  background-color: transparent;
  outline: none;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
}

.button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.success {
  color: #5c9210;
}

.danger {
  color: #944317;
}
