.auth {
  box-sizing: border-box;
  margin: 1.5rem auto;
  padding: 0.5rem;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
}

.error {
  font-size: 0.8rem;
  color: red;
}

@media (min-width: 600px) {
  .auth {
    width: 500px;
  }
}
